@page "/WeekReport/{ForWeekOf}"
@using TimeyWimey.Data
@using System.Globalization

@inject DataPersistence _persistence;
@inject WeekReportGenerator _generator;


@if (_reportsPerCodeSystem == null)
{
    return;
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    .header {
        text-align: center"

    }
</style>
@foreach (var report in _reportsPerCodeSystem)
{
    <h3>@report.CodeSystem</h3>
    <table style="min-width: 800px" class="mb-8">
        <thead>
            <tr>
                <th>Code</th>
                @foreach (var day in report.Days)
                {
                    <th class="header">
                        <div>@day.DayOfWeek</div> 
                        <div class="date">@day.Date.ToString("M")</div>
                    </th>
                }
                <th class="header">
                    Sum
                </th>
            </tr>
        </thead>
        <tbody>
        @{ bool alternate = false; }
        @foreach (var perCode in report.ReportPerCode)
        {
            <tr style="background: @(alternate ? "white" : "LightGray")">
                <td style="min-width: 80px; font-weight: bold">@perCode.Code</td>
                @foreach (var hour in perCode.Hours)
                {
                    <td>
                        @(hour > 0 
                                 ? hour.ToString(CultureInfo.CurrentUICulture)
                                 : "")
                    </td>
                }
                <td style="font-weight: bold">@perCode.Sum</td>
                @{ alternate = !alternate;}
            </tr>
        }
        <tr>
            <td style="font-weight: bold">Sum</td>
            @foreach (var total in report.DayTotals)
            {
                <td style="font-weight: bold">@total</td>
            }
            <td style="font-weight: bold">@(report.DayTotals.Sum())</td>
        </tr>
        </tbody>
    </table>

}

@code {
    [Parameter]
    public string? ForWeekOf { get; set; }

    private ReportPerCodeSystem[]? _reportsPerCodeSystem;

    protected override async Task OnInitializedAsync()
    {
        var dateTime = DateTime.Parse(ForWeekOf!);
        _reportsPerCodeSystem = await _generator.GenerateForWeekOf(DateOnly.FromDateTime(dateTime));
    }
}
